meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

title
  if title
    | #{title} || #{site.title}
  else
    | #{site.title}

if description
  meta(name='description' content=description)
else
  meta(name='description' content=site.description)

meta(name='author' content=site.author.name)
meta(name='robots' content='noindex')
